<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
      <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
      <property name="hibernate.connection.url">jdbc:oracle:thin:@MT-TESTORADB:1521:ORACL</property>
      <property name="hibernate.connection.username">ssampathkumar</property>
      <property name="hibernate.connection.password">sen</property>
      <property name="hibernate.connection.pool_size">10</property>
      <property name="show_sql">true</property>
      <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
      <property name="hibernate.hbm2ddl.auto">update</property>
     
      <!-- Mapping files -->
     
      <mapping resource="recruiterpersonal.hbm.xml"/>
       <mapping resource="seekerdatas.hbm.xml"/>
      <mapping resource="seekerprofile.hbm.xml"/>
      <mapping resource="usernames.hbm.xml"/>
      <mapping resource="postjob.hbm.xml"/>
      <mapping resource="applyjob.hbm.xml"/>
      
</session-factory>
</hibernate-configuration>



