<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:repository="http://www.springframework.org/schema/data/repository"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
	http://www.springframework.org/schema/data/repository http://www.springframework.org/schema/data/repository/spring-repository.xsd">

	<context:component-scan base-package="mine.sample.nonjta.controller, mine.sample.nonjta.service" />
	<mvc:annotation-driven />
	<tx:annotation-driven transaction-manager="transactionManager" />

	<jpa:repositories base-package="mine.sample.nonjta.repository" transaction-manager-ref="transactionManager-1"
		entity-manager-factory-ref="entityManagerFactory-1">
		<repository:include-filter type="regex" expression="mine.sample.nonjta.repository.NonXaTransactionRepo1" />
	</jpa:repositories>

	<jpa:repositories base-package="mine.sample.nonjta.repository" transaction-manager-ref="transactionManager-2"
		entity-manager-factory-ref="entityManagerFactory-2">
		<repository:include-filter type="regex" expression="mine.sample.nonjta.repository.NonXaTransactionRepo2" />
	</jpa:repositories>

	<bean id="transactionManager-1" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory-1"></property>
	</bean>

	<bean id="transactionManager-2" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory-2"></property>
	</bean>

	<bean id="atomikosTxnManager" class="com.atomikos.icatch.jta.UserTransactionManager" init-method="init"
		destroy-method="close">
		<property name="forceShutdown" value="false" />
	</bean>
	<bean id="atomikosUserTxn" class="com.atomikos.icatch.jta.J2eeUserTransaction">
		<property name="transactionTimeout" value="120" />
	</bean>
	<bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="transactionManager" ref="atomikosTxnManager" />
		<property name="userTransaction" ref="atomikosUserTxn" />
	</bean>

	<bean id="entityManagerFactory-1" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="Persistence Unit 1" />
		<property name="packagesToScan" value="mine.sample.nonjta.entity" />
		<property name="dataSource" ref="nonXaDataSource-1" />
		<property name="jpaProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.DerbyTenSevenDialect
				hibernate.hbm2ddl.auto=update
				hibernate.show_sql=true
				hibernate.transaction.flush_before_completion=true
				hibernate.connection.release_mode=auto
				hibernate.connection.autocommit=false
			</value>
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
			</bean>
		</property>
	</bean>

	<bean id="entityManagerFactory-2" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="Persistence Unit 2" />
		<property name="packagesToScan" value="mine.sample.nonjta.entity" />
		<property name="dataSource" ref="nonXaDataSource-2" />
		<property name="jpaProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.DerbyTenSevenDialect
				hibernate.hbm2ddl.auto=update
				hibernate.show_sql=true
				hibernate.transaction.flush_before_completion=true
				hibernate.connection.release_mode=auto
				hibernate.connection.autocommit=false
			</value>
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
			</bean>
		</property>
	</bean>

	<bean id="nonXaDataSource-1" class="org.apache.commons.dbcp2.datasources.SharedPoolDataSource">
		<property name="connectionPoolDataSource">
			<bean class="org.apache.commons.dbcp2.cpdsadapter.DriverAdapterCPDS">
				<property name="user" value="myjtadbuser" />
				<property name="password" value="myjtadbuser" />
				<property name="driver" value="org.apache.derby.jdbc.ClientDriver" />
				<property name="url" value="jdbc:derby://localhost:1527/MyDB;create=true;" />
			</bean>
		</property>
		<property name="maxTotal" value="15" />
		<property name="validationQuery" value="values 1" />
	</bean>

	<bean id="nonXaDataSource-2" class="org.apache.commons.dbcp2.datasources.SharedPoolDataSource">
		<property name="connectionPoolDataSource">
			<bean class="org.apache.commons.dbcp2.cpdsadapter.DriverAdapterCPDS">
				<property name="user" value="myjtadbuser" />
				<property name="password" value="myjtadbuser" />
				<property name="driver" value="org.apache.derby.jdbc.ClientDriver" />
				<property name="url" value="jdbc:derby://localhost:1527/MyDB;create=true;" />
			</bean>
		</property>
		<property name="maxTotal" value="15" />
		<property name="validationQuery" value="values 1" />
	</bean>

</beans>