<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/css/**" security="none" />
	<http pattern="/image/**" security="none" />

	<http>
		<intercept-url pattern="/**" access="ROLE_USER" requires-channel="http" />
		<form-login />
		<logout invalidate-session="true" delete-cookies="JSESSIONID"/>
		<port-mappings>
			<port-mapping http="8080" https="8443" />
		</port-mappings>
		<session-management invalid-session-url="/error/invalidSession.jsp" session-fixation-protection="none">
			<concurrency-control error-if-maximum-exceeded="true" max-sessions="2" />
		</session-management>
	</http>

	<authentication-manager>
		<authentication-provider>
			<!-- <password-encoder hash="md5"> <salt-source system-wide="Salt" /> </password-encoder> -->
			<user-service>
				<user name="user1" password="pwd" authorities="ROLE_USER,ROLE_ADMIN" />
				<user name="user2" password="pwd" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>